body{
  background-color: lightgrey;
  margin: 0px;
  font-family: arial;
}

/* ---------------------------------------------------------------- */
/* CSS Barre de Menu*/

#nav{
  padding: :0;
  margin: 0;
  background-color: #5B4B4B;
  display: flex;
  align-items: center;
}

#nav li {
  display: inline;
  list-style: none;
}

#nav a {
  display: inline-block;
  margin: 0;
  color: white;
  text-decoration: none;
  height: 4em;
  padding: 0 2em;
  line-height:4em;
  font-size: 1em;
}
#nav a:hover{
  background-color: orange;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#drop-c{background-color: orange;}

/* ---------------------------------------------------------------- */
/* CSS Barre de menu enseignant */

#nav_enseignant{
  padding: :0;
  margin: 0;
  background-color: #5B4B4B;
  display: flex;
  align-items: center;
}

#nav_enseignant li {
  display: inline;
  list-style: none;
}

#nav_enseignant a {
  display: inline-block;
  margin: 0;
  color: white;
  text-decoration: none;
  height: 4em;
  padding: 0 2em;
  line-height:4em;
  font-size: 1em;
}
#nav_enseignant a:hover{
  background-color: #1b70a7;
}
.bouton-poulpy{
  width: 60px;
}
#drop-e{background-color: #1b70a7;}

/* ---------------------------------------------------------------- */
/* CSS page accueil */

.sous-bandeau {
  background-color: orange;
  height: 5em;
  border: solid orange;
}

.sous_bandeau_enseignant{
  background-color: #1b70a7;
  height: 5em;
  border: solid #1b70a7;
}

h1{
  text-align: center;
  color: white;
  line-height: 1em;
  font-size: 2em;
}

h2{
  text-align: center;
}

.description_site{
  text-align: center;
  line-height: 1em;
}

/* ---------------------------------------------------------------- */
/* CSS page plus d'information*/

.createur_site {
  text-align: center;
}

.langages_utilise {
  text-align: center;
}

.titre_page {
  font-size: 1em;
}

/* ---------------------------------------------------------------- */
/* CSS page inscription*/

.choix_inscription li{
  display: inline;
  list-style: none;
}

.choix_inscription a{
  display: inline-block;
  margin: 0;
  color: white;
  text-decoration: none;
  height: 10em;
  width: 10em;
  padding: 0 2em;
  line-height:4em;
  border: solid black;
  border: solid black;
  font-size: 1em;
}

#eleves {
   background-color: orange;
}

#enseignant {
  background-color: blue;
}

/* ---------------------------------------------------------------- */
/* CSS Formulaire */
#form{
  margin: 5em 20em 0 20em;
  padding: 10px;
  border: 6px #5B4B4B solid;
  border-radius: 50px;
  background-color: white;
}
#form input{
  margin: 10px 0 10px 0;
}
.sub-qcm{
  background-color: #1b70a7;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
}




@import url('https://fonts.googleapis.com/css?family=Poppins:900i');



.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    cursor: default;
    display: flex;
    padding: 5px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #1b70a7;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 10px;
}

  span {
    transform: skewX(15deg)
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

/* ---------------------------------------------------------------- */
/* CSS recherche                                                   */
.form-recheche{
  display: inline-grid;
  padding: 5px;
  margin-left: 30%;
}
button{
  background-color: lightgrey;
  border: none;
}
#btn-creer{
  background-color: white;
  border: none;
}
.elem-recherche{
  margin-left: 30%;
  padding-top: 15px;


/* ---------------------------------------------------------------- */
/* CSS page Login*/

.profil{
  background-color: #1b70a7;
}
