{% extends "bandeau_non_connecte.html" %}
{% block titre_page %}Connecter{% endblock %}
{% block contenu_page %}
<section class="sous-bandeau">
  <h1> Connexion</h1>
</section>

{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

<form method="post" action="{% url 'connexion' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Se connecter" />
</form>

{% endblock %}
