{% extends "bandeau_non_connecte.html" %}
{% block titre_page %}Inscription_eleve{% endblock %}
{% block contenu_page %}

<section class="sous-bandeau">
  <h1> Inscription Etudiant !</h1>
</section>

{% ifequal erreur 1 %}
  <p class="message_erreur"> L'adresse mail est déjà utilsé. Veuillez en choisir une
     autre</p>
{% endifequal %}
{% ifequal erreur 2 %}
  <p class="message_erreur">Les mots de passes ne correspondent pas. Veuillez recommencer</p>
{% endifequal %}

<form method="post" action="{% url 'inscription_eleve' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="S'inscrire" />
</form>

{% endblock %}
