{% extends "bandeau_non_connecte.html" %}
{% block titre_page %}Inscription{% endblock %}
{% block contenu_page %}
<nav class="choix_inscription">
  <ul>
    <li><a href="{% url 'inscription_eleve' %}" id ="eleves">S'inscrire en tant qu'élève</a></li>
    <li"><a href="{% url 'inscription_enseignant' %}"  id = "enseignant">S'inscrire en tant qu'enseignant</a></li>
  </ul>
</nav>
{% endblock %}
