{% extends "bandeau_non_connecte.html" %}
{% block titre_page %}Plus d'information{% endblock %}
{% block contenu_page %}
<section class="sous-bandeau">
  <h1> Informations sur le site </h1>
</section>
<section class="createur_site">
  <h5 class="titre_page">Qui sont les créateurs de ce site ?</h5>
  <p>
    César ACHARD--BONNET, Maxime BUTTY, Mathieu CHATEIGNER, </br>
    Laure CHATENET, Julie DECAUX, Romuald DURET, Clément GASSE, </br>
    Thomas REFFAY
  </p>
</section>
<section class="langages_utilise">
  <h5 class="titre_page"> Quels sont les langages utilisés pour développer ce site ? </h5>
  <p>
    FrameWork Django
  </p>
</section>
{% endblock %}
