{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Consultation Groupe{% endblock %}
{% block contenu_page %}

<section class="sous_bandeau_enseignant">
  <h1>Ajouter un QCM</h1>
</section>

{% ifequal error 1 %}
<p>Le QCM est déjà dans le groupe</p>
{% endifequal %}

<form action="{% url 'ajouterQCM' infoGroupe.id %}" method="POST">
    {% csrf_token %}
    {{ formQCM.as_p }}

    <input type="submit" value=" Valider l'ajout ">
</form>
{% endblock %}
