{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Consultation Groupe{% endblock %}
{% block contenu_page %}

<section class="sous_bandeau_enseignant">
  <h1>Ajouter un élève</h1>
</section>

{% ifequal error 1 %}
<p>L'utilisateur ne peut pas être ajouté car il a déjà été ajouté dans le groupe ou vous ne pouvez pas vous ajouter dans le groupe.</p>
{% endifequal %}

<form action="{% url 'ajouterEleve' idG %}" method="POST">
    {% csrf_token %}
    {{ formEleve.as_p }}

    <input type="submit" value=" Valider l'ajout ">
</form>


{% endblock %}
