{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Consultation Groupe{% endblock %}
{% block contenu_page %}

<section class="sous_bandeau_enseignant">
  <h1>Détails du groupe</h1>
</section>
<h2>{{ infoGroupe.nom_groupe }}</h2>

{% if infoGroupe.prive %}
<p>Le groupe est privé et contient un mot de passe pour y accéder qui est : {{ infoGroupeA.mdp }}</p>
<form id="ajouter" action="{% url 'ajouterEleve' infoGroupe.id %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="Ajouter un élève">
</form>
{% else %}
<p>Le groupe est public donc aucun mot de passe est nécessaire.</p>
{% endif %}
<h3>Les participants </h3>

{% ifnotequal tailleInfoGroupeE 0 %}
<table>
  <thead>
      <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Mail </th>
      </tr>
  </thead>
  <tbody>
{% for elem in infoGroupeE %}
<form id="suppr" action="{% url 'consultationGroupeSuppr' infoGroupe.id elem.eleve_groupe.id %}" method="POST">
    {% csrf_token %}
          <tr>
              <td>{{ elem.eleve_groupe.first_name }}</td>
              <td>{{ elem.eleve_groupe.last_name }}</td>
              <td>{{ elem.eleve_groupe.email }}</td>
              <td><input type="submit" value="Retirer du groupe"></td>
          </tr>
</form>
{% endfor %}
{% else %}
<p> Aucun utilisateur n'a rejoint votre groupe ! </p>
{% endifnotequal %}
</tbody>
</table>


<form id="ajouter" action="{% url 'ajouterQCM' infoGroupe.id %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="Ajouter un QCM">
</form>

<h3>Les QCM </h3>
{% ifnotequal tailleInfoGroupeQCM 0 %}
<table>
  <thead>
      <tr>
          <th>Nom du groupe</th>
          <th>Nom du QCM</th>
      </tr>
  </thead>
  <tbody>
{% for ele in infoGroupeQCM %}
<form id="suppr" action="{% url 'consulterQCM' infoGroupe.id ele.questionnaire_groupe.id %}" method="POST">
    {% csrf_token %}
          <tr>
              <td>{{ ele.groupe.nom_groupe }}</td>
              <td>{{ ele.questionnaire_groupe.titreQCM }}</td>
              <td><input type="submit" value="Voir plus"></td>
              <td><a href="{% url 'supprimerlienQCMGroupe' infoGroupe.id ele.questionnaire_groupe.id %}">Retirer le QCM</a></td>
          </tr>
</form>
{% endfor %}
{% else %}
<p> Aucun QCM n'a été ajouté ! </p>
{% endifnotequal %}
</tbody>
</table>
{% endblock %}
