{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Consultation Groupe{% endblock %}
{% block contenu_page %}

<section class="sous_bandeau_enseignant">
  <h1>QCM</h1>
</section>

{% endblock %}
