{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Profil{% endblock %}
{% block contenu_page %}
<section class="sous_bandeau_enseignant">
  <h1>Profil</h1>
</section>
<nav class="choix_inscription">
  <ul>
    <li><a href="#" class="profil">Consulter</a></li>
    <li"><a href="#"  class="profil">Modifier</a></li>
  </ul>
</nav>
{% endblock %}
