{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Consultation Groupe{% endblock %}
{% block contenu_page %}

<section class="sous_bandeau_enseignant">
  <h1>Consultation des Groupes</h1>
</section>

<table>
  <thead>
      <tr>
          <th>Nom du groupe</th>
      </tr>
  </thead>
  <tbody>
{% for elem in listeGroupe %}

<form id="" action="{% url 'consultationGroupe' elem.id %}" method="POST">
    {% csrf_token %}
    <tr>
      <td>{{ elem.nom_groupe }}</td>
      <td><input type="submit" value="Voir Détail"></td>
    </tr>

</form>
{% endfor %}
</tbody>
</table>

{% endblock %}
