{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Création d'un Groupe{% endblock %}
{% block contenu_page %}
<section class="sous_bandeau_enseignant">
  <h1>Création d'un Groupe</h1>
</section>
<form action="{% url 'creationGroupe' %}" method="post">
    {% csrf_token %}
    {{ formGroupe.as_p }}

    <input type="submit" value="Créer un groupe ">
  </form>
{% endblock %}
