{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Création Réponse{% endblock %}
{% block contenu_page %}
<section class="sous_bandeau_enseignant">
  <h1> Création Réponse !</h1>
</section>

<form action="{% url 'creationReponse' id_QCM nbMaxQst id_question nombreReponse num_reponse %}" method="post">
  {% csrf_token %}
  {{ formReponse.as_p }}

  <input type="submit" value="Ajouter Réponse">
</form>

{% endblock %}
