{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Création Question{% endblock %}
{% block contenu_page %}
<section class="sous_bandeau_enseignant">
  <h1> Création Question !</h1>
</section>

<form action="{% url 'creationQuestion' id_QCM nbMaxQst %}" method="post">
  {% csrf_token %}
  {{ formQuestion.as_p }}

  <input type="submit" value="Ajouter Questions">
</form>

{% endblock %}
