{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Création QCM{% endblock %}
{% block contenu_page %}
<section class="sous_bandeau_enseignant">
  <h1>Faire un QCM</h1>
</section>
<p>faire qcm</p>
{% endblock %}
