{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Création QCM{% endblock %}
{% block contenu_page %}
<section class="sous_bandeau_enseignant">
  <h1>QCM créés</h1>
</section>
<p>qcm crees</p>
{% endblock %}
