{% extends "bandeau_connecte_enseignant.html" %}
{% block titre_page %}Création QCM{% endblock %}
{% block contenu_page %}
<section class="sous_bandeau_enseignant">
  <h1>Recherche</h1>
</section>
<p>recherche enseignant</p>
{% endblock %}
