{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block titre_page %}Pas Normal !{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="https://cdn.discordapp.com/attachments/654805270265987072/664033040925982721/poulpy_eau-min.jpg" />
    <link rel="stylesheet" href="{% static 'css/bandeau_non_connecte.css' %}">
  </head>
  <body>
    {% block menu_barre %}
    <nav>
      <ul id = "nav">
        <li id = "bouton_home"><a href="{% url 'accueil' %}">Home</a></li>
        <li id = "bouton_Se_connecter"><a href="{% url 'connexion' %}">Se connecter</a></li>
        <li id = "bouton_S_inscrire">
          <div class="dropdown"><a href="#">S'inscrire</a>
            <div class="dropdown-content" id="drop-c">
              <a href="{% url 'inscription_enseignant' %}">enseignant</a>
              <a href="{% url 'inscription_eleve' %}">élève</a>
            </div>
          </div>
        </li>
        <li id = "bouton_information"><a href="{% url 'info' %}">Plus d'information</a></li>
      </ul>
    </nav>
    {% endblock %}
    <section id ="contenu_page">
       {% block contenu_page %}{% endblock %}
    </section>
  </body>
</html>
