{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block titre_page %}Pas Normal !{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="https://cdn.discordapp.com/attachments/654805270265987072/664033040925982721/poulpy_eau-min.jpg" />
    <link rel="stylesheet" href="{% static 'css/bandeau_non_connecte.css' %}">
  </head>
  <body>
    {% block menu_barre %}
    <nav>
      <ul id = "nav">
        <li id = "bouton_rechercher"><a href="{% url 'rechercheEleve' %}">Rechercher</a></li>
        <li id = "bouton_QCM"><a href="#">QCM</a></li>
        <li id = "bouton_gestionGroupe"><a href="#">Gestion Groupe</a></li>
        <li id = "bouton_home"><a href="#">Home</a></li>
        <li id = "bouton_historique"><a href="#">Historique QCM</a></li>
        <li id = "bouton_profil"><a href="#">Profil</a></li>
        <li id = "bouton_deconnexion"><a href="{% url 'deconnexion' %}">Déconnexion</a></li>
      </ul>
    </nav>
    {% endblock %}
    <section id ="contenu_page">
       {% block contenu_page %}{% endblock %}
    </section>
  </body>
</html>
