{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block titre_page %}Pas Normal !{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="https://cdn.discordapp.com/attachments/654805270265987072/664033040925982721/poulpy_eau-min.jpg" />
    <link rel="stylesheet" href="{% static 'css/bandeau_non_connecte.css' %}">
  </head>
  <body>
    {% block menu_barre %}
    <nav>
      <ul id = "nav_enseignant">
        <li id = "bouton_rechercher"><a href="{% url 'rechercheEnseignant' %}">Rechercher</a></li>
        <li id = "bouton_GestionQCM">
          <div class="dropdown"><a href="#">Gestion des QCM</a>
            <div class="dropdown-content" id="drop-e">
              <a href="{% url 'qcmCreesEnseignant' %}">QCM créés</a>
              <a href="{% url 'qcmRealisesEnseignant' %}">QCM réalisés</a>
            </div>
          </div>
        </li>
        <li id = "bouton_gestionGroupe">
          <div class="dropdown"><a href="#">Gestion des Groupe</a>
            <div class="dropdown-content" id="drop-e">
              <a href="{% url 'consultationGroupes' %}">Consulter Groupe</a>
              <a href="{% url 'creationGroupe' %}">Créer un Groupe</a>
            </div>
          </div>
        </li>
        <li id = "bouton_home"><a href="{% url 'home_enseignant' %}"><img class="bouton-poulpy" src="https://cdn.discordapp.com/attachments/654805270265987072/664033040925982721/poulpy_eau-min.jpg" alt=""></a></li>
        <li id = "bouton_QCM">
            <div class="dropdown"><a href="#">QCM</a>
              <div class="dropdown-content" id="drop-e">
                <a href="{% url 'faireQCMEnseignant' %}">Faire QCM</a>
                <a href="{% url 'creation_QCM' %}">Creer QCM</a>
              </div>
            </div>
          </li>
        <li id = "bouton_profil"><a href="{% url 'consulterProfilEnseignant' %}">Profil</a></li>
        <li id = "bouton_deconnexion"><a href="{% url 'deconnexion' %}">Déconnexion</a></li>
      </ul>
    </nav>
    {% endblock %}
    <section id ="contenu_page">
       {% block contenu_page %}{% endblock %}
    </section>
  </body>
</html>
