{% extends "bandeau_connecte_eleve.html" %}
{% block titre_page %}Poulpy Quizz{% endblock %}
{% block contenu_page %}
    <section class="sous-bandeau">
      <h1> Poulpy Quizz Connecté ! </h1>
    </section>

    <div class="slogan">
      <h2> "Rien ne rivalise avec Poulpy Quizz !" </h2>
    </div>
    <section class="description_site">
      <h5> L'intérêt de Poulpy Quizz : </h5>
      <p> A partir de ce site vous pouvez créer des quiz papiers ou numériques. Les </br>
        questionnaires sont corrigés en un instant ! vous n'avez plus besoin de vous </br>
        embêter et vous prendre la tête ! Poulpy Quizz est là pour vous !
      </p>
    </section>
  {% endblock %}

  </body>
</html>
