{% extends "bandeau_connecte_eleve.html" %}
{% block titre_page %}Création QCM{% endblock %}
{% block contenu_page %}
<section class="sous-bandeau">
  <h1>Recherche</h1>
</section>
<p>recherche eleve </p>
{% endblock %}
